<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <global>
        <DelayBeforeClick>5</DelayBeforeClick>
        <ArchivedDatabaseFolder>c:\\tmp</ArchivedDatabaseFolder>
        <WizzAirWindowCount>1</WizzAirWindowCount>
        <SmtpUserName>traveloptimizer992</SmtpUserName>
        <SmtpPassword>KincsAmiNincs456</SmtpPassword>
        <SummaryEmail>andras.igneczi@gmail.com</SummaryEmail>
        <SummaryName>András</SummaryName>
    </global>
    <emails>
        <wizzair>
            <recipient
                    Email="andras.igneczi@gmail.com"
                    Name="András"
                    ObservedAirportCodes="BUD"
                    PriceDropTreshold="10"
                    PriceLimit="30"
            />
        </wizzair>
        <ryanair>
            <recipient
                    Email="andras.igneczi@gmail.com"
                    Name="András"
                    ObservedAirportCodes="BUD"
                    PriceDropTreshold="10"
                    PriceLimit="30"
            />
        </ryanair>
    </emails>
    <flights>
        <wizzair>
            <LeavingFrom>CRL</LeavingFrom>
            <GoingTo>BUD</GoingTo>
            <Interval>6</Interval>
            <DayFilter
                    AffectedDays="Fri"
                    Method="accept"
                    AffectedDirection="Outbound"
            />
            <DayFilter
                    AffectedDays="Sun,Mon"
                    Method="accept"
                    AffectedDirection="Inbound"
            />
        </wizzair>
        <wizzair>
            <LeavingFrom>HHN</LeavingFrom>
            <GoingTo>SOF</GoingTo>
            <Interval>6</Interval>
        </wizzair>
    </flights>
    <searches>

        <bookingdotcom>
            <Checkin>2017.07.28.</Checkin>
            <Checkout>2017.07.31.</Checkout>
            <PriceLimit>140</PriceLimit>
            <City>Budapest</City>
            <filters>apartment,free wifi,parking place</filters>
        </bookingdotcom>

        <airbnb>
            <Checkin>2017.07.28.</Checkin>
            <Checkout>2017.07.31.</Checkout>
            <PriceLimit>140</PriceLimit>
            <City>Budapest</City>
            <filters>apartment,free wifi,parking place</filters>
        </airbnb>

        <wizzair>
            <LeavingFrom>BUD</LeavingFrom>
            <GoingTo>CRL</GoingTo>
            <DepartureDay>2017.05.02.</DepartureDay>
            <AdultNumber>1</AdultNumber>
            <ChildNumber>0</ChildNumber>
            <InfantNumber>0</InfantNumber>
            <NearbyAirports>false</NearbyAirports>
        </wizzair>

        <!-- ******* -->
        <!-- RYANAIR -->
        <!-- ******* -->

        <ryanair>
            <LeavingFrom>BUD</LeavingFrom>
            <GoingTo>DUB</GoingTo>
            <DepartureDay>2017.04.14.</DepartureDay>
            <ReturnDay>2017.04.20.</ReturnDay>
            <AdultNumber>1</AdultNumber>
            <ChildNumber>0</ChildNumber>
            <InfantNumber>0</InfantNumber>
            <NearbyAirports>false</NearbyAirports>
        </ryanair>
        <ryanair>
            <LeavingFrom>DUB</LeavingFrom>
            <GoingTo>BUD</GoingTo>
            <DepartureDay>2017.04.21.</DepartureDay>
            <AdultNumber>1</AdultNumber>
            <ChildNumber>0</ChildNumber>
            <InfantNumber>0</InfantNumber>
            <NearbyAirports>false</NearbyAirports>
        </ryanair>

        <!--
                <ryanair>
                    <LeavingFrom>SOF</LeavingFrom>
                    <GoingTo>CGN</GoingTo>
                    <DepartureDay>2017.01.02.</DepartureDay>
                    <AdultNumber>1</AdultNumber>
                    <ChildNumber>0</ChildNumber>
                    <InfantNumber>0</InfantNumber>
                    <NearbyAirports>false</NearbyAirports>
                </ryanair>
        -->
    </searches>
</configuration>
