*.o
*.bin
*.png
*.so
*.so.*
moc_*.*
/.idea
/Webhost/target/classes
/mozilla
/target/classes
target
/AI-searching/AI-searching/Debug
/AI-searching/AI-searching/Release
/AI-searching/AI-searching/.vs/AI-searching/v14/.suo
/AI-searching/AI-searching/AI-searching.VC.VC.opendb
/AI-searching/AI-searching/AI-searching.VC.db
/AI-searching/AI-searching/AI-searching.vcxproj.user
/AI-searching/sqlite/sqlite3.def
/AI-searching/sqlite/sqlite3.dll 
TO
AI-machine_learning/COC/Summer.zip
AI-machine_learning/COC/convertSummer__
AI-machine_learning/COC/generateArtificial_TH10
AI-machine_learning/COC/processed/
AI-machine_learning/COC/screenshots/
AI-machine_learning/COC/trainingset_filelist.txt
AI-machine_learning/Octave/
AI-machine_learning/SimpleNNTrainer/Makefile
AI-machine_learning/SimpleNNTrainer/SimpleNNTrainer
AI-machine_learning/SimpleNNTrainer/SimpleNNTrainer.pro.user
AI-machine_learning/SimpleNNTrainer/lrv2_minibatch_onevsall_feature_maps_file_names.txt
AI-machine_learning/install_tesnsorflow_c
AI-machine_learning/machine-learning/machine-learning.pro.user
AI-machine_learning/src/.qmake.stash
AI-machine_learning/src/MachineLearning.pro.user
AI-machine_learning/src/Makefile
AI-machine_learning/tensorflow/
AI-machine_learning/tensorflow_c/
AI-machine_learning/tensorflow_dev/log.txt
AI-machine_learning/tensorflow_dev/test.c
AI-machine_learning/tests/Screenshots/
AI-machine_learning/tests/coc_testset_filelist.txt
AI-machine_learning/tests/coc_trainingset_filelist.txt
AI-machine_learning/tests/convnet/Convolution model - Application - v1.pdf
AI-machine_learning/tests/convnet/Convolution model - Step by Step - v2.pdf
AI-machine_learning/tests/convnet/Convolution+model+-+Application+-+v1.ipynb
AI-machine_learning/tests/convnet/Convolution+model+-+Step+by+Step+-+v2.ipynb
AI-machine_learning/tests/convnet/__pycache__/
AI-machine_learning/tests/convnet/log.txt
AI-machine_learning/tests/convnet/log1.txt
AI-machine_learning/tests/convnet/log2.txt
AI-machine_learning/tests/convnet/test
AI-machine_learning/tests/ex3data1.csv
AI-machine_learning/tests/lrv2_minibatch_onevsall_feature_maps_file_names.txt
AI-machine_learning/tests/machine-learning/machine-learning.pro.user
AI-machine_learning/tests/output.txt
AI-machine_learning/tests/tensorflow/
AI-machine_learning/tests/test
AI-machine_learning/tests/test.ini
AI-machine_learning/tests/test.log
AI-machine_learning/tests/training_db/
AI-machine_learning/tests/trainingset_filelist.txt
DataCollector/src/main/resources/config.xml
