.departurelistbutton {
    width: 150px;
    padding:5px;
}

.near {
    background-color: #a5a5ff;
}

div.TO_row {
    display: block;
    clear: both;
    margin-top:20px;
    margin-bottom:20px;
}

.modal-xxl {
    width: 1200px;
}

/* active pushbutton */
input.btn-default.active {
    background-color: #caa5a5;
}

div#outbound-date-parent {
    float: left;
    clear: none;
}

div#inbound-date-parent {
    float: left;
    clear: none;
}

div#outbound-date-parent>label, div#inbound-date-parent>label {
    margin-left: 15px;
}

body {
    margin-left:10px;
}
