<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <global>
    </global>
    <charts>
        <wizzair>
            <LeavingFrom>SOF</LeavingFrom>
            <GoingTo>HHN</GoingTo>
            <DepartureDay>2016.07.02.</DepartureDay>
            <ReturnDay>2016.07.05.</ReturnDay>
            <AdultNumber>1</AdultNumber>
            <ChildNumber>0</ChildNumber>
            <InfantNumber>0</InfantNumber>
            <NearbyAirports>false</NearbyAirports>
        </wizzair>
        <wizzair>
            <LeavingFrom>SOF</LeavingFrom>
            <GoingTo>HHN</GoingTo>
            <DepartureDay>2016.07.16.</DepartureDay>
            <ReturnDay>2016.07.19.</ReturnDay>
            <AdultNumber>1</AdultNumber>
            <ChildNumber>0</ChildNumber>
            <InfantNumber>0</InfantNumber>
            <NearbyAirports>false</NearbyAirports>
        </wizzair>
        <wizzair>
            <LeavingFrom>SOF</LeavingFrom>
            <GoingTo>HHN</GoingTo>
            <DepartureDay>2016.08.06.</DepartureDay>
            <ReturnDay>2016.08.09.</ReturnDay>
            <AdultNumber>1</AdultNumber>
            <ChildNumber>0</ChildNumber>
            <InfantNumber>0</InfantNumber>
            <NearbyAirports>false</NearbyAirports>
        </wizzair>
        <wizzair>
            <LeavingFrom>CRL</LeavingFrom>
            <GoingTo>BUD</GoingTo>
            <DepartureDay>2016.07.08.</DepartureDay>
            <ReturnDay>2016.07.11.</ReturnDay>
            <AdultNumber>1</AdultNumber>
            <ChildNumber>0</ChildNumber>
            <InfantNumber>0</InfantNumber>
            <NearbyAirports>false</NearbyAirports>
        </wizzair>
        <wizzair>
            <LeavingFrom>CRL</LeavingFrom>
            <GoingTo>BUD</GoingTo>
            <DepartureDay>2016.07.22.</DepartureDay>
            <ReturnDay>2016.07.25.</ReturnDay>
            <AdultNumber>1</AdultNumber>
            <ChildNumber>0</ChildNumber>
            <InfantNumber>0</InfantNumber>
            <NearbyAirports>false</NearbyAirports>
        </wizzair>
    </charts>
</configuration>
