<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <global>
        <ArchivedDatabaseFolder>c:\\tmp</ArchivedDatabaseFolder>
    </global>
    <charts>
        <Discount
                Name="30% discount wizz. club. memb. until 31st March"
                Airline="Wizzair"
                Beginning="2017-02-25 00:00"
                Ending="2017-02-27 00:00"
                Percentage="30"
        />
        <Discount
                Name="30% discount wizz. club. memb. until 31st March"
                Airline="Wizzair"
                Beginning="2017-02-08 00:00"
                Ending="2017-02-10 00:00"
                Percentage="30"
        />
        <Discount
                Name="20% discount until 31st March"
                Airline="Wizzair"
                Beginning="2017-02-01 00:00"
                Ending="2017-02-03 00:00"
                Percentage="20"
        />
        <Discount
                Name="20% discount from/to Bulgaria"
                Airline="Wizzair"
                Beginning="2017-01-19 00:00"
                Ending="2017-01-20 00:00"
                Percentage="20"
        />
        <Discount
                Name="20% discount"
                Airline="Wizzair"
                Beginning="2017-01-13 00:00"
                Ending="2017-01-16 00:00"
                Percentage="20"
        />
        <Discount
                Name="20% discount"
                Airline="Wizzair"
                Beginning="2017-01-06 00:00"
                Ending="2017-01-09 00:00"
                Percentage="20"
        />
        <Discount
                Name="20% discount wizz. club. memb."
                Airline="Wizzair"
                Beginning="2017-01-05 00:00"
                Ending="2017-01-06 00:00"
                Percentage="20"
        />
        <Discount
                Name="30% discount"
                Airline="Wizzair"
                Beginning="2016-12-27 00:00"
                Ending="2016-12-30 00:00"
                Percentage="30"
        />
        <Discount
                Name="20% discount"
                Airline="Wizzair"
                Beginning="2016-12-19 00:00"
                Ending="2016-12-20 00:00"
                Percentage="20"
        />
        <Discount
                Name="20% discount from/to Budapest"
                Airline="Wizzair"
                Beginning="2016-12-15 00:00"
                Ending="2016-12-16 00:00"
                Percentage="20"
        />
        <Discount
                Name="20% discount from/to Bulgaria"
                Airline="Wizzair"
                Beginning="2016-12-12 00:00"
                Ending="2016-12-15 00:00"
                Percentage="20"
        />
        <Discount
                Name="20% discount"
                Airline="Wizzair"
                Beginning="2016-12-10 00:00"
                Ending="2016-12-13 00:00"
                Percentage="20"
        />
        <Discount
                Name="20% discount"
                Airline="Wizzair"
                Beginning="2016-11-26 00:00"
                Ending="2016-11-29 00:00"
                Percentage="20"
        />
        <Discount
                Name="20% discount"
                Airline="Wizzair"
                Beginning="2016-11-21 00:00"
                Ending="2016-11-22 00:00"
                Percentage="20"
        />
        <Discount
                Name="20% discount"
                Airline="Wizzair"
                Beginning="2016-11-14 00:00"
                Ending="2016-11-15 00:00"
                Percentage="20"
        />
        <Discount
                Name="20% discount"
                Airline="Wizzair"
                Beginning="2016-10-17 00:00"
                Ending="2016-10-18 00:00"
                Percentage="20"
        />
        <Discount
                Name="20% discount"
                Airline="Wizzair"
                Beginning="2016-10-05 00:00"
                Ending="2016-10-06 00:00"
                Percentage="20"
        />
        <Discount
                Name="20% discount wizz. club. memb."
                Airline="Wizzair"
                Beginning="2016-10-04 00:00"
                Ending="2016-10-05 00:00"
                Percentage="20"
        />
        <Discount
                Name="20% discount from/to Bulgaria"
                Airline="Wizzair"
                Beginning="2016-09-19 00:00"
                Ending="2016-09-20 00:00"
                Percentage="20"
        />
        <Discount
                Name="20% discount"
                Airline="Wizzair"
                Beginning="2016-09-06 00:00"
                Ending="2016-09-07 00:00"
                Percentage="20"
        />
        <Discount
                Name="20% discount wizz. club. memb."
                Airline="Wizzair"
                Beginning="2016-09-05 00:00"
                Ending="2016-09-06 00:00"
                Percentage="20"
        />
        <Discount
                Name="20% discount from/to Bulgaria"
                Airline="Wizzair"
                Beginning="2016-08-24 00:00"
                Ending="2016-08-25 00:00"
                Percentage="20"
        />
        <Discount
                Name="20% discount"
                Airline="Wizzair"
                Beginning="2016-07-27 00:00"
                Ending="2016-07-28 00:00"
                Percentage="20"
        />
        <Discount
                Name="20% discount with wizz. app"
                Airline="Wizzair"
                Beginning="2016-05-10 00:00"
                Ending="2016-05-11 00:00"
                Percentage="20"
        />
        <Discount
                Name="20% discount"
                Airline="Wizzair"
                Beginning="2016-05-03 00:00"
                Ending="2016-05-04 00:00"
                Percentage="20"
        />
        <Discount
                Name="20% discount"
                Airline="Wizzair"
                Beginning="2016-03-31 00:00"
                Ending="2016-04-01 00:00"
                Percentage="20"
        />
        <Discount
                Name="20% discount with wizz. app"
                Airline="Wizzair"
                Beginning="2016-03-17 00:00"
                Ending="2016-03-18 00:00"
                Percentage="20"
        />
        <Discount
                Name="20% discount"
                Airline="Wizzair"
                Beginning="2016-03-01 00:00"
                Ending="2016-03-02 00:00"
                Percentage="20"
        />
        <Discount
                Name="20% discount"
                Airline="Wizzair"
                Beginning="2016-02-11 00:00"
                Ending="2016-02-12 00:00"
                Percentage="20"
        />
        <Discount
                Name="20% discount"
                Airline="Wizzair"
                Beginning="2016-01-05 00:00"
                Ending="2016-01-07 00:00"
                Percentage="20"
        />
        <Discount
                Name="20% discount for wizz. disc. club"
                Airline="Wizzair"
                Beginning="2015-11-25 00:00"
                Ending="2015-11-27 00:00"
                Percentage="20"
        />
        <Discount
                Name="20% discount for wizz. disc. club"
                Airline="Wizzair"
                Beginning="2015-11-12 00:00"
                Ending="2015-11-13 00:00"
                Percentage="20"
        />
        <Discount
                Name="20% discount for wizz. disc. club"
                Airline="Wizzair"
                Beginning="2015-10-20 00:00"
                Ending="2015-10-22 00:00"
                Percentage="20"
        />
        <Discount
                Name="20% discount for wizz. disc. club"
                Airline="Wizzair"
                Beginning="2015-08-31 00:00"
                Ending="2015-09-01 00:00"
                Percentage="20"
        />
        <Discount
                Name="20% discount for wizz. disc. club"
                Airline="Wizzair"
                Beginning="2015-06-18 00:00"
                Ending="2015-06-19 00:00"
                Percentage="20"
        />

<!--
        <wizzair>
            <LeavingFrom>CRL</LeavingFrom>
            <GoingTo>BUD</GoingTo>
            <DepartureDatetime>2016-10-21 20:45</DepartureDatetime>
            <ReturnDatetime>2016-10-24 06:10</ReturnDatetime>
            <AdultNumber>1</AdultNumber>
            <ChildNumber>0</ChildNumber>
            <InfantNumber>0</InfantNumber>
            <NearbyAirports>false</NearbyAirports>
            <Currency>€</Currency>
            <BoughtTicket
                    Name="BUD-CRL"
                    Datetime="2016-07-07 08:00"
                    Price="14.99 €"
            />
            <Discount
                    Name="20% discount"
                    Beginning="2016-05-03 00:00"
                    Ending="2016-05-04 00:00"
                    Percentage="20"
            />
            <BoughtTicket
                    Name="CRL-BUD"
                    Datetime="2016-08-27 09:45"
                    Price="59.99 €"
            />
        </wizzair>
        <wizzair>
            <LeavingFrom>CRL</LeavingFrom>
            <GoingTo>BUD</GoingTo>
            <DepartureDatetime>2016-11-18 21:00</DepartureDatetime>
            <ReturnDatetime>2016-11-21 06:30</ReturnDatetime>
            <AdultNumber>1</AdultNumber>
            <ChildNumber>0</ChildNumber>
            <InfantNumber>0</InfantNumber>
            <NearbyAirports>false</NearbyAirports>
            <Currency>€</Currency>
            <BoughtTicket
                    Name="BUD-CRL"
                    Datetime="2016-07-27 16:30"
                    Price="19.46 €"
            />
            <Discount
                    Name="20% discount"
                    Beginning="2016-07-27 00:00"
                    Ending="2016-07-28 00:00"
                    Percentage="20"
            />
        </wizzair>
-->
    </charts>
</configuration>
